In [1]:
from packing import Packing

In [2]:
from test_packing import df, metadata

In [3]:
df

   location           timestamp  amount
0  New York 2025-10-13 08:00:00       4
1    Berlin 2025-10-13 09:30:00      10
2     Tokyo 2025-10-13 11:15:00       5

In [4]:
metadata

{'name': 'example-datapackage',
 'title': 'Example Data Package',
 'licenses': [{'name': 'CC-BY-4.0',
   'title': 'Creative Commons Attribution 4.0',
   'path': 'https://creativecommons.org/licenses/by/4.0/'}],
 'resources': [{'name': 'data',
   'path': 'data.csv',
   'schema': {'fields': [{'name': 'location',
      'type': 'string',
      'unit': 'geolocation',
      'unit_uri': '',
      'name_uri': ''},
     {'name': 'timestamp',
      'type': 'datetime',
      'unit': 'datetime format',
      'unit_uri': '',
      'name_uri': ''},
     {'name': 'amount',
      'type': 'integer',
      'unit': 'kilogram',
      'unit_uri': '',
      'name_uri': ''}]}}]}

In [5]:
tp = Packing(df, metadata)
tp.write_parquet('../../tests/data/example.parquet')

In [6]:
tp_empty = Packing()

In [7]:
df_read, metadata_read = tp_empty.read_parquet('../../tests/data/example.parquet')

In [8]:
df_read

   location           timestamp  amount
0  New York 2025-10-13 08:00:00       4
1    Berlin 2025-10-13 09:30:00      10
2     Tokyo 2025-10-13 11:15:00       5

In [9]:
metadata_read

{'name': 'example-datapackage',
 'title': 'Example Data Package',
 'licenses': [{'name': 'CC-BY-4.0',
   'title': 'Creative Commons Attribution 4.0',
   'path': 'https://creativecommons.org/licenses/by/4.0/'}],
 'resources': [{'name': 'data',
   'path': 'data.csv',
   'schema': {'fields': [{'name': 'location',
      'type': 'string',
      'unit': 'geolocation',
      'unit_uri': '',
      'name_uri': ''},
     {'name': 'timestamp',
      'type': 'datetime',
      'unit': 'datetime format',
      'unit_uri': '',
      'name_uri': ''},
     {'name': 'amount',
      'type': 'integer',
      'unit': 'kilogram',
      'unit_uri': '',
      'name_uri': ''}]}}]}