In [1]:
from packing import Packing

In [2]:
from test_packing import df

In [3]:
df

   location           timestamp  amount
0  New York 2025-10-13 08:00:00       4
1    Berlin 2025-10-13 09:30:00      10
2     Tokyo 2025-10-13 11:15:00       7

# Using DataPackage Schema Classes

The new DataPackage schema classes provide a structured way to create metadata dictionaries with validation and UI-friendly field definitions.

In [4]:
# Import the new schema classes
from datapackage_schema import (
    MetaDataBuilder,
    Resource, 
    Field, 
    FieldConstraints,
    COMMON_LICENSES
)

## Method 1: Using DataPackageBuilder (Recommended)

The `DataPackageBuilder` provides a fluent interface for creating metadata step by step with built-in validation.

In [5]:
# Create metadata using the fluent builder interface
builder_metadata = (MetaDataBuilder()
    .set_basic_info(
        name="sample-dataset",
        title="Sample Dataset with Schema Classes", 
        description="This demonstrates creating metadata using the new schema classes",
        version="1.0.0"
    )
    .set_profile("tabular-data-package")
    .set_keywords(["example", "schema", "metadata", "trailpack"])
    .add_license()
    
    .add_contributor("Demo User", "author", "demo@example.com")
    .add_source("Sample Data Generator", "https://example.com/sample-data")
    .add_resource(Resource(
        name="sample-data",
        path="data/sample-data.parquet",
        description="A sample dataset resource",
        fields=[
            Field(name="location", type="string",constraints=FieldConstraints(required=True)),
            Field(name="timestamp", type="datetime", constraints=FieldConstraints(required=True)),
            Field(name="amount", type="integer", unit="kg", constraints=FieldConstraints(minimum=0))
        ]
    )).build())

print("Metadata created with MetaDataBuilder:")
print(f"Package name: {builder_metadata['name']}")
print(f"Title: {builder_metadata['title']}")
print(f"Keywords: {builder_metadata['keywords']}")
print(f"License: {builder_metadata['licenses'][0]['name']}")
print(f"Contributors: {len(builder_metadata['contributors'])}")
print(f"Sources: {len(builder_metadata['sources'])}")

Metadata created with MetaDataBuilder:
Package name: sample-dataset
Title: Sample Dataset with Schema Classes
Keywords: ['example', 'schema', 'metadata', 'trailpack']
License: CC-BY-4.0
Contributors: 1
Sources: 1

In [6]:
builder_metadata

{'created': '2025-10-14T14:42:57.163840',
 'name': 'sample-dataset',
 'title': 'Sample Dataset with Schema Classes',
 'description': 'This demonstrates creating metadata using the new schema classes',
 'version': '1.0.0',
 'profile': 'tabular-data-package',
 'keywords': ['example', 'schema', 'metadata', 'trailpack'],
 'licenses': [{'name': 'CC-BY-4.0',
   'title': 'Creative Commons Attribution 4.0 International License',
   'path': 'https://spdx.org/licenses/CC-BY-4.0.html'}],
 'contributors': [{'name': 'Demo User',
   'role': 'author',
   'email': 'demo@example.com'}],
 'sources': [{'title': 'Sample Data Generator',
   'path': 'https://example.com/sample-data'}],
 'resources': [{'name': 'sample-data',
   'path': 'data/sample-data.parquet',
   'description': 'A sample dataset resource',
   'schema': {'fields': [{'name': 'location',
      'type': 'string',
      'constraints': {'required': True}},
     {'name': 'timestamp',
      'type': 'datetime',
      'constraints': {'required': True}},
     {'name': 'amount',
      'type': 'integer',
      'unit': 'kg',
      'constraints': {'minimum': 0}}]}}]}

In [7]:
tp = Packing(df, builder_metadata)
tp.write_parquet('../../tests/data/example.parquet')

In [8]:
tp_empty = Packing()

In [9]:
df_read, metadata_read = tp_empty.read_parquet('../../tests/data/example.parquet')

In [10]:
df_read

   location           timestamp  amount
0  New York 2025-10-13 08:00:00       4
1    Berlin 2025-10-13 09:30:00      10
2     Tokyo 2025-10-13 11:15:00       7

In [11]:

import pandas as pd

In [12]:
df_read_2 = pd.read_parquet('../../tests/data/example.parquet')

In [13]:
df_read_2

   location           timestamp  amount
0  New York 2025-10-13 08:00:00       4
1    Berlin 2025-10-13 09:30:00      10
2     Tokyo 2025-10-13 11:15:00       7

In [14]:
import pyarrow as pa
import pyarrow.parquet as pq

In [15]:
metadata = pq.read_table('../../tests/data/example.parquet').schema.metadata[b"datapackage.json"].decode('utf-8')

In [16]:
import json

In [17]:
json.loads(metadata)

{'created': '2025-10-14T14:42:57.163840',
 'name': 'sample-dataset',
 'title': 'Sample Dataset with Schema Classes',
 'description': 'This demonstrates creating metadata using the new schema classes',
 'version': '1.0.0',
 'profile': 'tabular-data-package',
 'keywords': ['example', 'schema', 'metadata', 'trailpack'],
 'licenses': [{'name': 'CC-BY-4.0',
   'title': 'Creative Commons Attribution 4.0 International License',
   'path': 'https://spdx.org/licenses/CC-BY-4.0.html'}],
 'contributors': [{'name': 'Demo User',
   'role': 'author',
   'email': 'demo@example.com'}],
 'sources': [{'title': 'Sample Data Generator',
   'path': 'https://example.com/sample-data'}],
 'resources': [{'name': 'sample-data',
   'path': 'data/sample-data.parquet',
   'description': 'A sample dataset resource',
   'schema': {'fields': [{'name': 'location',
      'type': 'string',
      'constraints': {'required': True}},
     {'name': 'timestamp',
      'type': 'datetime',
      'constraints': {'required': True}},
     {'name': 'amount',
      'type': 'integer',
      'unit': 'kg',
      'constraints': {'minimum': 0}}]}}]}

In [18]:
import datetime

In [19]:
datetime.datetime.now().isoformat()

'2025-10-14T14:42:57.289867'